body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: gatin;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: 0;}
main {
background-color: white;
border-radius: 15px;
width: 350px;
display: flex;
flex-flow: column nowrap;
align-content: space-between;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
/* Estado inicial fora da tela com transparência */
transform: translateY(20px);
opacity: 0;

/* Aplicando a animação */
animation: slideIn 0.6s ease-out forwards;
}
@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
h1 {
    margin-top: 20px;
    font-weight: 700px;
    text-align: center;
}
.text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

.text:nth-child(1) {
    animation-delay: 0.2s;
}

.text:nth-child(2) {
    animation-delay: 0.3s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
p {
    margin-top: 20px;
    font-weight: 400px;
    color: hsl(216, 15%, 48%);
    text-align: center;
}
img {
    border-radius: 20px;
    
}
@font-face {
    font-family: gatin;
    src: url(Outfit-VariableFont_wght.ttf);
}